<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>861428268106-6eqvvufpo4e2e723vufrr4kveibqe76u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861428268106-6eqvvufpo4e2e723vufrr4kveibqe76u</string>
	<key>API_KEY</key>
	<string>AIzaSyArXooru766v4345o8-o_OIZDKfFEwyioc</string>
	<key>GCM_SENDER_ID</key>
	<string>861428268106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Conestoga.PopupFood</string>
	<key>PROJECT_ID</key>
	<string>popup-food</string>
	<key>STORAGE_BUCKET</key>
	<string>popup-food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:861428268106:ios:f839198d7c191d7b</string>
	<key>DATABASE_URL</key>
	<string>https://popup-food.firebaseio.com</string>
</dict>
</plist>